<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >Employee Manager</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="container">

        <div class="main-header row">
            <div class="col-md-6">
                <h2 class="title">List post</h2>
            </div>
            <div class="col-md-6 text-right">
                <a href="/posts/create" class="btn btn-primary">Create new employee</a>
            </div>
        </div>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Group</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>

            </tr>
            </tbody>
        </table>

    </div>

</body>
</html>
